* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: "AROneSANS"; */
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav {
    display: flex;
}