header {
    /* border: 2px solid red; */
}
header nav {
    /* border: 2px solid blue; */
}
header nav ul {
    display: flex;
    gap: 15px;
}
header nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    height: 50px;
    align-items: center;
    color: white;
    /* background-color: cadetblue; */
}
