.add {
    background-color: green;
    width: fit-content;
    padding: 60px;
    margin: auto;
    input {
        padding: 15px;
        margin-bottom: 10px;
    }
    button {
        padding: 10px;
    }
}

.form {
    h1 {
        width: fit-content;
        margin: auto;
    }
    margin-bottom: 10px;
}