img {
    margin: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.div1 {
    background-color: rgb(231, 233, 213);
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    width: 330px;

    box-shadow: 5px 5px rgb(151, 30, 30);
}
p,h3 {
    text-align: center;
}