*{
    margin: 0;
}
.div1{
    background-color: rgb(132, 201, 201);
    width: 95%;
    margin-left: 30px;
    margin-top: 10px;
    padding: 20px;

}
.div2 {
    background-color: rgb(238, 238, 247);
    margin: 10px;
    padding: 20px;

}
p {
    padding: 8px;
}
button {
    background-color: blue;
    color: aliceblue;
}
